/* CSS Document */
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
* { -webkit-box-sizing: border-box; box-sizing: border-box; }

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }

body { line-height: 1; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

nav ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

a { margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent; }

/* change colours to suit your needs */
ins { background-color: #ff9; color: #000; text-decoration: none; }

/* change colours to suit your needs */
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

/* change border colour to suit your needs */
hr { display: block; height: 1px; border: 0; border-top: 1px solid #cccccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }

body { position: relative; }

li { list-style: none; }

a { text-decoration: none; }

br { display: inherit; line-height: 0; height: 0; }

img { width: 100%; }

.sp-only { display: none; }

@media screen and (max-width: 768px) { .pc-only { display: none; }
  .sp-only { display: block; } }

.pageTop { display: none; position: fixed; bottom: 20px; right: 70px; background: url("/web/myamanak/images/pageTop.png") left top no-repeat; background-size: cover; text-indent: 100%; white-space: nowrap; overflow: hidden; z-index: 2; }

.pageTop:hover { opacity: .5; }

.pageTop a { display: block; width: 60px; height: 70px; }

@media screen and (max-width: 1024px) { .pageTop { right: 8px; } }

@media screen and (max-width: 768px) { .pageTop { right: 10px; background-size: 43.5px 50px; }
  .pageTop a { width: 43.5px; height: 50px; } }

nav { width: 100%; background-color: #fff; }

nav .nav__inner { width: 100%; max-width: 1000px; height: 55px; margin: 0 auto; }

nav .nav__inner .gNav { display: -webkit-box; display: -ms-flexbox; display: flex; }

nav .nav__inner .gNav li { width: 16.66666666666667%; height: 55px; line-height: 55px; text-align: center; font-size: 16px; font-size: 1rem; }

nav .nav__inner .gNav li a { display: block; color: #fff; -webkit-transition: all 0.3s ease; transition: all 0.3s ease; }

nav .nav__inner .gNav li a:hover { background-color: #916bb3; -webkit-transition: all 0.3s ease; transition: all 0.3s ease; }

nav .nav__inner .gNav li a.current { pointer-events: none; background-color: #916bb3; }

nav { position: fixed; top: 10vh; bottom: 0; right: 0; left: 0; visibility: hidden; opacity: 0; -webkit-transition: 0.5s; transition: 0.5s; background-color: rgba(0, 0, 0, 0.5); }

nav .nav__inner .gNav li { font-size: 16px; font-size: 1rem; }

.hamburger { display: none; }

@media screen and (max-width: 768px) { nav .nav__inner { height: 0; }
  nav .nav__inner .gNav { display: none; }
  .hamburger { position: fixed; top: 20px; right: 20px; width: 34px; height: 28px; cursor: pointer; display: inline-block; }
  .hamburger span { position: absolute; left: 0; width: 100%; height: 4px; background-color: #383838; border-radius: 4px; -webkit-transition: all 0.5s; transition: all 0.5s; }
  .hamburger span:nth-of-type(1) { top: 0; }
  .hamburger span:nth-of-type(2) { top: 12px; }
  .hamburger span:nth-of-type(3) { bottom: 0; }
  .hamburger.active span:nth-of-type(1) { -webkit-transform: translateY(12px) rotate(-45deg); transform: translateY(12px) rotate(-45deg); }
  .hamburger.active span:nth-of-type(2) { left: 50%; opacity: 0; -webkit-animation: active-btn-bar02 0.8s forwards; animation: active-btn-bar02 0.8s forwards; }
  .hamburger.active span:nth-of-type(3) { -webkit-transform: translateY(-12px) rotate(45deg); transform: translateY(-12px) rotate(45deg); } }

@-webkit-keyframes active-btn-bar02 { 100% { height: 0; } }

@keyframes active-btn-bar02 { 100% { height: 0; } }
/*# sourceMappingURL=style.css.map */